<div class="row">
  <div class="col-sm-6">
    <table>
      <h2>Resultado da Busca</h2>
      <thead class="table table-hover">
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Quantidade</th>
      </tr>
      </thead>
      <tbody>
        <%= render @produtos %>
      </tbody>
    </table>
  </div>

</div>

<%= link_to 'Cadastrar Produto', new_produtos_path, class: 'btn btn-success mt-5' %>